<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BILLETERA</title>
</head>
<body>

    <div class="container">
        <div class="header" id="header">
            <h1>BILLETERA</h1>
            <button class="boton" onclick="createRoom()">Crear</button>
            <button class="boton" onclick="joinRoom()">Unirse</button>
        </div>

        <div class="centrarTodo" id="centrarTodo">
            <div class="espera" id="espera"></div>
            <div class="linkDiv" id="linkDiv" style="display: none;"></div>
            <div class="codigoSala" id="clave"></div>
            <div class="comenzar" id="comenzar">
                <button  class="boton" id="link" onclick="copiarLink()">Copiar link</button>
                <button  class="boton" onclick="jugar()">Comenzar Partida</button>
            </div>
        </div>

        
        
        <div class="codigo" id="codigo">
            <input type="text" name="nombre" class="boton" id="nombre" placeholder="Nombre Jugador">
            <input type="text" name="codigo" class="boton" id="codigoSala" placeholder="Codigo sala">
            <input type="color" name="color" class="boton" id="color">
            <input type="submit" value="Unirse" onclick="unirse()"></input>
        </div>
    </div>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/funciones.js" defer></script>
<script>
  window.onload = () => {
      // Obtener el parámetro 'codigo' de la URL
      const urlParams = new URLSearchParams(window.location.search);
      const codigo = urlParams.get('codigo');  // Corregir la obtención del parámetro
      const unirse = urlParams.get('unirse');  // Corregir la obtención del parámetro
      if(unirse){
        // Aquí se puede llamar a la función joinRoom porque ya estará disponible
        joinRoom();
      }

    // Colocar el código en el campo del formulario
    document.getElementById('codigoSala').value = codigo;
  };
</script>
