

body {
    background-color: cadetblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header button{
    margin: 10px;
}

.espera{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.codigo{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.codigo input{
    margin: 10px;
}



.codigoSala{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.link{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    width: 700px;
}

.centrarTodo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boton{
    margin: 10px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

.comenzar{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tarjetaBilletera{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.billeteras{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    margin: 10px;
}



.dinero{
    color: green;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.divParaBilletera{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jugador {
    border: 2px solid black;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    height: 40%;
    width: 80%;
}