

body {
    background-color: red;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espera{
    display: none;
    flex-direction: column;
    align-items: center;
}

.codigo{
    display: none;
    flex-direction: column;
    align-items: center;
}